* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.links a img{
    width: 130px;
    /*height: 80px;*/
}
.wrapper_login, .wrapper_register {
    padding: 25px;
    border-radius: 5px;
    border: 2px solid gray;
    margin-top: 15px;
}
.error_messages {
    color: red
}
.active {
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    font-weight: bold;
}
.admin_active {
    background-color: rgba(255,255,255,.1) !important;
    color: #fff !important;
}
.logo {
    font-weight: bold;
    text-transform: uppercase;
    border-right: 1px solid gray;
    margin-right: 10px;
}
.navbar-nav .nav-link {
    margin-right: 10px;
}
.admin {
    color: blue !important;
}
.btn-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    cursor: pointer;
    background: #D3D3D3;
    color: #000;
    padding: 10px;
    border-radius: 100%;
    text-decoration: none;
}

.btn-top:hover {
    background: #A9A9A9;
    color: #000;
}
.password, .password-confirm {
    position: relative;
}
#show-pass, #show-pass-confirm{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 6px;
}
